<% include ../partials/header %>

<div class="wrapper">
  <h1>Delete Project</h1>

  <form action="/project/<%= project._id %>/delete?_method=DELETE" method="POST">
		<label for="project_name">Type project name to verify</label>
		<input type="text" id="project_name" name="project_name" placeholder="Project Name">
		<button>Delete Project</button>
    </form>
</div>

<% include ../partials/footer %>
