<% include ../partials/header %>

<div class="wrapper">
  <h1>Project Settings</h1>
  
  <div class="button-group">
      <a class="button-red" href="/project/<%= project._id %>/update">Update Project</a>
	  <a class="button-red" href="/project/<%= project._id %>/contributor/remove">Remove Contributor</a>
	  <a class="button-red" href="/project/<%= project._id %>/delete">Delete Project</a>
  </div>
</div>

<% include ../partials/footer %>
