<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UI-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Share Code</title>

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <% include navbar %>
    <section class="flash-message">
      <div class="container">
        <% if (success && success.length !== 0) { %>
          <div class="flash-box success">
            <p><%= success %></p>
            <i id="exit-flash-box" class="fa fa-times" aria-hidden="true"></i>
          </div>
        <% } %>

        <% if (error && error.length !== 0) { %>
          <div class="flash-box error">
            <p><%= error %></p>
            <i id="exit-flash-box" class="fa fa-times" aria-hidden="true"></i>
          </div>
        <% } %>
      </div>
    </section>
