<!-- Page Header -->
<section id="header">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/">
                <img src="/images/sharecode.png" alt="ShareCode">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <% if (currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/project/new">New Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/<%= currentUser._id %>"><%= currentUser.username %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link entry-btn" href="/signup">Sign Up</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </div>
</section>