
<% include partials/header %>

<section id="landing">
  <!-- Hero Section -->
  <section id="hero">
    <div class="wrapper">
      <div class="hero-content">
        <h1 class="hero-heading">Share your code with others.</h1>
        <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta non mi nec tempor. Sed eget eros in velit viverra efficitur semper ac ex. Nam dapibus fringilla imperdiet. Sed rhoncus imperdiet nulla, non varius nisl. Integer nec tortor eu est tristique blandit vitae eu mauris.</p>
        <a class="btn" href="/signup" tabindex="1" accesskey="s" title="Sign up and share your code">Start Sharing</a>
      </div>
    </div>
    <div class="hero-background-image">
      <img src="/images/background-diamonds-sharecode-mobile.jpg" alt="Mobile image with diamonds">
    </div>
  </section>

  <div class="wrapper">
    <!-- View Other Projects Section -->
    <section id="view-other-projects" class="section">
      <header class="section-header">
        <h2 class="section-heading">View other projects</h2>
      </header>

      <div class="view-other-projects-content">
        <div class="view-other-projects-section">
          <p>Join<span>326</span>other developers</p>
          <a class="btn" href="/signup" tabindex="2" accesskey="j" title="Join ShareCode and share your code now">Sign Up Now</a>
        </div>

        <div class="view-other-projects-section">
          <p>Join<span>861</span>other projects</p>
          <a class="btn" href="/signup" tabindex="3" accesskey="v" title="View projects from other developers">View All Projects</a>
        </div>
      </div>
    </section>

    <section id="on-phone" class="section">
      <header class="section-header">
        <h2 class="section-heading">ShareCode On Your Code</h2>
      </header>

      <div class="on-phone-content">
        <div class="on-phone-section">
          <h3>ShareCode is also availabe on your phone</h3>
          <p>Vivamus enim risus, sollicitudin non bibendum quis, mattis et tortor. Nam id pulvinar ipsum. Duis nec eros molestie, mollis odio et, ultrices sapien. Sed sagittis ornare posuere. Vivamus interdum leo eu placerat dapibus. In felis est, faucibus eu tincidunt sit amet, auctor vel mauris.</p>
          <p>Nullam arcu quam, pharetra ut odio egestas, pellentesque iaculis nisl. Sed scelerisque ullamcorper elit. Maecenas tincidunt varius risus at commodo.</p>
        </div>

        <div class="on-phone-section">
          <img src="/images/phone-mockup.png" alt="ShareCode on a phone">
        </div>
      </div>
    </section>

    <section id="give-feedback" class="section">
      <header class="section-header">
        <h2 class="section-heading">Give Feedback</h2>
      </header>

      <div class="give-feedback-content">
        <div class="give-feedback-section">
          <form action="" method="POST">
            <div class="form-group">
              <label for="select-rate">What do you think about ShareCode?</label>
              <select name="rate" id="select-rate">
                <option value="5">Awesome</option>
                <option value="4">Very Good</option>
                <option value="3">Good</option>
                <option value="2">It's OK</option>
                <option value="1">Bad</option>
              </select>
            </div>
            <div class="form-group">
              <label for="feedback">Any feedback to give?</label>
              <input type="text" name="feedback" id="feedback" placeholder="Your feedback">
            </div>
            <button class="btn" type="button" name="send-feedback">Send Feedback</button>
          </form>
        </div>

        <div class="give-feedback-section">
          <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur risus sem, cursus id dui vitae, convallis ornare ante. Nullam varius at arcu vel accumsan. Fusce luctus justo nec ex vehicula rhoncus.</strong></p>
          <p>Nunc at magna facilisis, faucibus leo ac, pellentesque dui. Sed vitae diam diam. Cras ullamcorper semper luctus. Phasellus efficitur, risus ut gravida ultricies, augue nulla euismod mauris, sed posuere mi nulla vel mauris.</p>
        </div>
      </div>
    </section>
  </div>

  <section id="footer">
    <div class="wrapper">
      <p class="copyright">&copy; 2018 ShareCode. All rights reserved.</p>
    </div>
  </section>
</section>

<% include partials/footer %>
