<% include partials/header %>

<div class="landing">
  <div class="wrapper">
    <h1>ShareCode</h1>

    <p>Share your projects with others and collaborate on projects with other developers.</p>

    <a class="button" href="/signup">Sign Up</a>
    <a class="button" href="/projects">Check Our Projects</a>
  </div>
</div>

<% include partials/footer %>
