<% include partials/header %>

<section id="landing">
  <!-- Hero Section -->
  <section id="hero">
    <div class="wrapper">
      <div class="hero-content">
        <h1>Share your code with others.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta non mi nec tempor. Sed eget eros in velit viverra efficitur semper ac ex. Nam dapibus fringilla imperdiet. Sed rhoncus imperdiet nulla, non varius nisl. Integer nec tortor eu est tristique blandit vitae eu mauris.</p>
        <a class="btn" href="/signup" tabindex="1" accesskey="s" title="Sign up and share your code">Start Sharing</a>
      </div>
    </div>
  </section>

  <div class="wrapper">
    <!-- View Other Projects Section -->
    <section id="view-other-projects" class="section">
      <header class="section-header">
        <h2 class="section-heading">View other projects</h2>
      </header>

      <div class="view-other-projects-content">
        <div class="view-other-projects-section">
          <p>Join<span>326</span>other developers</p>
          <a class="btn" href="/signup" tabindex="2" accesskey="j" title="Join ShareCode and share your code now">Sign Up Now</a>
        </div>

        <div class="view-other-projects-section">
          <p>Join<span>861</span>other projects</p>
          <a class="btn" href="/signup" tabindex="3" accesskey="v" title="View projects from other developers">View All Projects</a>
        </div>
      </div>
    </section>

    <section id="on-phone" class="section">
      <header class="section-header">
        <h2 class="section-heading">ShareCode On Your Code</h2>
      </header>

      <div class="on-phone-content">
        <div class="on-phone-section">
          <h3>ShareCode is also availabe on your phone</h3>
          <p>Vivamus enim risus, sollicitudin non bibendum quis, mattis et tortor. Nam id pulvinar ipsum. Duis nec eros molestie, mollis odio et, ultrices sapien. Sed sagittis ornare posuere. Vivamus interdum leo eu placerat dapibus. In felis est, faucibus eu tincidunt sit amet, auctor vel mauris.</p>
          <p>Nullam arcu quam, pharetra ut odio egestas, pellentesque iaculis nisl. Sed scelerisque ullamcorper elit. Maecenas tincidunt varius risus at commodo.</p>
        </div>

        <div class="on-phone-section">
          <img src="/images/phone-mockup.png" alt="ShareCode on a phone">
        </div>
      </div>
    </section>
  </div>
</section>

<% include partials/footer %>
