@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Imported modules */
@import "modules/_reset.css";
@import "modules/_variables.css";
@import "modules/_global.css";
@import "modules/_wrapper.css";
@import "modules/_header.css";
@import "modules/_flash.css";
@import "modules/_project.css";


@media (min-width: 768px) {
  .entry-btn {
    padding: .55em 1.2em !important;
    background-color: var(--green);
    color: white !important;
  }

  .entry-btn:hover {
    color: inherit;
  }

  form {
    width: 50%;
    margin: 0 auto;
  }

  #header a {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .projects {
    display: block;
  }
}

