#header {
  background-color: var(--lightBrown);
}

.header-content {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content nav {
  flex: 1;
}

.header-content nav ul {
  display: flex;
  justify-content: flex-end;
}

.header-content nav ul li {
  margin-left: 15px;
}

.header-content img {
  height: 60px;
  width: auto;
}
