#hero {
  height: calc(100vh - 190px);
}

.hero-background-image {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
  z-index: -1;
}

.hero-background-image img {
  height: 50vh;
  width: auto;
}

.hero-content {
  text-align: center;
}

.hero-description {
  font-size: 14px;
}

.view-other-projects-section {
  text-align: center;
  margin: 35px 0;
}

.view-other-projects-section p {
  line-height: 30px;
  font-weight: 700;
  font-size: 20px;
}

.view-other-projects-section p span {
  display: block;
  color: #004bc9;
  font-size: 42px;
}

/* On Phone section will not be on phone screens */
#on-phone {
  display: none;
}

/*
Seting the content of the h1 to be "sharecode" and
the content of p to "Share your code with other developers."
*/
.hero-heading {
  font-size: 0;
}

.hero-heading:before {
  content: "sharecode";
  font-size: 38px;
}

.hero-description {
  font-size: 0;
}

.hero-description:before {
  content: "Share your code with other developers.";
  font-size: 16px;
}
