#project h1 {
  text-align: left;
  margin: 0;
  margin-right: 10px;
  font-size: 25px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.project-header-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.project-header-section:last-of-type {
  justify-content: flex-end;
}

.project-header-section button {
  margin-left: 25px;
  width: auto;
}

.project-code form {
  width: 100%;
}

.project-code textarea {
  min-height: 525px;
  resize: none;
}

.code-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code-option-section {
  flex: 1;
}

.code-option-section:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.code-option-section button {
  width: auto;
}

.code-option-section:last-of-type button:last-of-type {
  margin-left: 10px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  flex-basis: 48%;
  padding: 15px;
  border: 1px solid var(--green);
  border-left: 8px solid var(--green);
  margin-bottom: 20px;
}

.project:last-of-type {
  margin-bottom: 0;
}

.project h2 {
  margin-top: 0;
  font-size: 20px;
}

.project-section {
  display: flex;
}

.project-section time {
  text-align: right;
}

.project-section > * {
  flex: 1;
}

.project-section p {
  line-height: 20px;
}

.project-section:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-section-link {
  text-align: right;
}

.project-language {
  display: inline-block;
  padding: 5px 8px;
  background-color: var(--green);
  color: white;
  border-radius: 2px;
  font-size: 13px;
  text-transform: uppercase;
}

.project time {
  font-size: 13px;
}
.project-description {
  margin: 10px 0;
}

.project-description {
  text-overflow: ellipsis;
}

.contributors-list h2, .delete-project h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
}

.contributors-list button, .delete-project button {
  background-color: var(--alert);
}
